<div id="journey" class="light-section">
  <!-- First Step -->
  <div id="gathering" class="left-content">
    <div class="section-header __headline">
      <h2><img class="d-icon" src={{iconUrl}} />elian Gathering</h2>
      <!-- <h2>Requirement gathering and analysis</h2> -->
    </div>
    <div class="content">
        <p>We will ask lots of questions, to understand you vision on the product, and adapt to your business and your team.</p>
        <p>Business requirements are gathered in this phase.</p>
        <p>As a result, We will create a Requirement Specification document, which will serve the purpose of guideline for the future steps.</p>
    </div>
  </div>
  <div id="gathering-image" class="right-content">
    <img src="https://s3.amazonaws.com/project-pictures-andriikost-portfolio/delian-gathering.jpg" />
  </div>
  <!-- Second Step -->
  <div id="design-image" class="left-alternative-content">
    <img src="https://s3.amazonaws.com/project-pictures-andriikost-portfolio/delian-design.jpg" />
  </div>
  <div id="design" class="right-alternative-content accent-content">
    <div class="section-header __headline">
      <h2><img class="d-icon" src={{iconUrl}} />elian Design</h2>
    </div>
    <div class="content">
        <p>In this phase the software design is prepared from the requirement specifications.</p>
        <p>Our designers will do their best creative work, to show how we understood your vision we will start from designing wireframes. Then, after your approval, We will move to mockup stage of Delian Design.</p>
        <p>This mockup will be a completed design version of your product, and a design guideline for developers.</p>
        <p>Also the testers comes up with the Test strategy, where they mention what to test, how to test.</p>
    </div>
  </div>
    <!-- Third Step -->
    <div id="code" class="left-content">
      <div class="section-header __headline">
        <h2><img class="d-icon" src={{iconUrl}} />elian Code</h2>
      </div>
      <div class="content">
          <p>After receiving system design documents, the work will be divided in modules/units and actual coding is started.</p>
          <p>This is the longest phase of the Delian Journey, with a main focus on the developers.</p>
          <p>After the code is developed it is tested against the requirements to make sure that the product is actually solving the needs addressed and gathered during the Delian Requirements Gathering.</p>
      </div>
    </div>
    <div id="code-image" class="right-content">
      <img src="https://s3.amazonaws.com/project-pictures-andriikost-portfolio/delian-code.jpg" />
    </div>
    <!-- Fourth Step -->
    <div id="delivery-iamge" class="left-alternative-content">
    <img src="https://s3.amazonaws.com/project-pictures-andriikost-portfolio/delian-delivery.jpg" />
    </div>
    <div id="delivery" class="right-alternative-content accent-content">
      <div class="section-header __headline">
        <h2><img class="d-icon" src={{iconUrl}} />elian Delivery</h2>
      </div>
      <div class="content">
        <p>After successful testing the product is delivered / deployed to the customer for their use.</p>
        <p>As soon as the product is given to the customers they will first do the beta testing. If any changes are required or if any bugs are caught, then they will report it to the engineering team.</p>
        <p>Once those changes are made or the bugs are fixed then the final deployment will happen.</p>
      </div>
    </div>
  </div>
