<div id="services" class="dark-section">
  <div class="section-header">
    <div class="__headline">
      <h1>Services</h1>
    </div>
    <div class="section-description">
      <p>We help clients to design and develop future-proof, significant and secure digital products that are centered around users’ needs and fulfil clients’ business goals.</p>
    </div>
  </div>
  <div class="section-services">
      <ul class="services-list">
        <li>
          <div class="single-service-container">
        <p>01</p>
        <h1>Full Cycle Product Development</h1>
        <p>Boldare's seasoned teams can help stage your product</p>
        <ul class="services-breakdown">
          <li>Prototype development</li>
          <li>MVP development</li>
          <li>Product-Market Fit</li>
          <li>Scaling products</li>
          <li>Business strategy</li>
          <li>Product strategy</li>
        </ul>
        <div class="read-more">
          <div class="button"><h3>Read More</h3></div>
        </div>
      </div>
    </li>
    <li>
        <div class="single-service-container">
          <p>02</p>
          <h1>Full Cycle Product Development</h1>
          <p>Boldare's seasoned teams can help stage your product</p>
          <ul class="services-breakdown">
            <li>Prototype development</li>
            <li>MVP development</li>
            <li>Product-Market Fit</li>
            <li>Scaling products</li>
            <li>Business strategy</li>
            <li>Product strategy</li>
          </ul>
          <div class="read-more">
              <div class="button"><h3>Read More</h3></div>
            </div>
        </div>
      </li>
      <li>
          <div class="single-service-container">
            <p>03</p>
            <h1>Full Cycle Product Development</h1>
            <p>Boldare's seasoned teams can help stage your product</p>
            <ul class="services-breakdown">
              <li>Prototype development</li>
              <li>MVP development</li>
              <li>Product-Market Fit</li>
              <li>Scaling products</li>
              <li>Business strategy</li>
              <li>Product strategy</li>
            </ul>
            <div class="read-more">
                <div class="button"><h3>Read More</h3></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
<app-call-to-action></app-call-to-action>
  </div>
