<div id="services" class="dark-section">
  <div class="section-header">
    <div class="__headline">
      <h1>Services</h1>
    </div>
    <div class="section-description">
      <p>We help clients to design and develop future-proof, significant and secure digital products that are centered around users’ needs and fulfil clients’ business goals.</p>
    </div>
  </div>
  <div class="section-services">
      <ul class="services-list">
        <li>
          <div class="single-service-container">
            <h6>01</h6>
            <h3>Full Cycle Product Development</h3>
            <p>Delian Digital's seasoned team can help stage<br> your product</p>
            <ul class="services-breakdown">
              <li>Prototype development</li>
              <li>MVP development</li>
              <li>Product-Market Fit</li>
              <li>Scaling products</li>
              <li>Business strategy</li>
              <li>Product strategy</li>
            </ul>
            <button class="btn-action-white">Read More</button>
          </div>
        </li>
        <li>
            <div class="single-service-container">
              <h6>02</h6>
              <h3>Product Design and Development</h3>
              <p>Clarify your vision, digitise your business or disrupt your industry with Delian Digital. Our tool kit includes:</p>
              <ul class="services-breakdown">
                <li>Web Design and Development</li>
                <li>Mobile App Development</li>
                <li>Software Development</li>
                <li>Tech Stack Consulting</li>
                <li>Infrastructure Architecture</li>
                <li>Usability Testing</li>
              </ul>
              <button class="btn-action-white">Read More</button>
            </div>
          </li>
          <li>
          <div class="single-service-container">
            <h6>03</h6>
            <h3>Digital<br> transformation</h3>
            <p>Self-organizing scrum teams at Delian Digital<br> deliver:</p>
            <ul class="services-breakdown">
              <li>Design Sprints</li>
              <li>Innovation Workshops</li>
              <li>User & Market Research</li>
              <li>Customer Journey Mapping</li>
              <li>Information Architecture & User Flow</li>
              <li>Wireframing & Process Flows</li>
            </ul>
            <button class="btn-action-white">Read More</button>
          </div>
        </li>
      </ul>
    </div>
<app-call-to-action></app-call-to-action>
  </div>
