<div id="about" class="light-section">
  <div class="left-content">
    <div class="section-header __headline">
      <h1>About</h1>
    </div>
    <div class="content">
        <p>Delian Digital is a brand that emerged from combining the power and best qualities.</p>
        <p>We draw our strength from the creativity and experience of our talented professionals and the foolproof processes that guide our collaborative product design and development practice.</p>
    </div>
  </div>
  <div class="right-content">
    <img src="https://images.unsplash.com/photo-1536104968055-4d61aa56f46a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" />
  </div>
</div>
