<div *ngIf="mobileMenu" class="nav-menu">
  <div class="container" (click)="changeStyleClass()" [ngClass]="status ? 'change' : null">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</div>

<div *ngIf="status" class="menu-content">
  <ul>
    <li>
      <a (click)="changeStyleClass()"
        class="navbar-item"
        [routerLink]="['/work']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Work</a>
    </li>
    <li>
      <a (click)="changeStyleClass()"
        class="navbar-item"
        [routerLink]="['/services']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Services</a>
    </li>
    <li>
      <a (click)="changeStyleClass()"
        class="navbar-item"
        [routerLink]="['/about']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">About</a>
    </li>
    <li>
      <a (click)="changeStyleClass()"
        class="navbar-item"
        [routerLink]="['/contact']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Contact</a>
    </li>
    <li>
      <a (click)="changeStyleClass()"
        class="navbar-item"
        [routerLink]="['/blog']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Blog</a>
    </li>
  </ul>
</div>
