<div class="light-section">
  <h2 class="page-header">Login</h2>
  <form (submit)="onLoginSubmit()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control input-outline-black" [(ngModel)]="username" name="username">
    </div>
    <div>
      <label>Password</label>
      <input type="password" class="form-control input-outline-black" [(ngModel)]="password" name="password">
    </div>
    <input type="submit" class="btn-action-white" value="Login">
  </form>
</div>
