.simple-slider-section {
  background-color: rgb(103, 88, 224);
  height: 400px;
  color: #fff;
}
.slider-content {
  width: 50%;
  margin: auto;
  padding-top: 2em;
}
.left-arrow {
  float: left;
  margin-left: 10px;
}
.right-arrow {
  float: right;
  margin-right: 10px;
}
.left-arrow, .right-arrow {
  padding-top: 150px;
}
.left-arrow, .right-arrow:hover {
  cursor: pointer;
}
.slider-logo {
  width: 250px;
}
.slider-content img {
  padding: 1em;
  width: 100%;
}
h2 {
  font-weight: bold;
  padding-top: 1em;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: .05em;
  line-height: 1.5em;
}

@media (max-width: 800px) {
  .slider-content {
    width: 75%;
  }
  .simple-slider-section {
    height: 300px;
  }
  h2 {
    font-size: 1em;
  }
}
