<div class="estimate-completed-container">
  <div class="estimate-completed-head">
    <h2>Thank You for finishing our quick and simple estimate!</h2>
  </div>
  <div *ngIf="projectDuration" class="estimate-completed-content">
    <h4>It will take <span class="highlighted">approximately</span><span class="estimate-result"> {{projectDuration}}</span> to deliver your product. With a starting day of following Monday.</h4>
    <h4>Estimate cost: <span class="estimate-result">${{totalValue}}-${{totalUpperValue}}</span></h4>
  </div>
  <div class="estimate-finished-actions">
    <button class="btn-action" (click)="success()">Love It!</button>
    <button class="btn-action-white" value="click to copy" (click)="close()">Let me think</button>
  </div>
</div>
