.cta-yellow {
  margin-top: 5em;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.6fr;
}
.cta-right {
  background-color: rgb(240, 212, 60);
  padding: 2em;
}
.cta-left {
  background: rgb(36, 36, 36);
}
.cta-link {
  font-weight: bold;
  color: #000;
}
.cta-link:hover {
  text-decoration: none;

}
@media (max-width: 800px) {
  .cta-yellow {
    margin-top: 0;
    grid-template-columns: 1fr 2fr;
  }
  .cta-right h3 {
    font-size: 1em;
  }
}
@media (max-width: 500px) {
  .cta-right {
    padding: 1em;
  }
}
