.white-section {
  padding: 10em 14em 5em 14em;
}
.white-section h6 {
  color: rgb(243, 117, 119);
  font-weight: bolder;
}
.white-section p {
  padding-top: 2em;
  line-height: 2em;
  letter-spacing: .05em;
}
.white-section h1 {
  font-weight: bolder;
  letter-spacing: .025em;
  line-height: 1.8em;
}
.head-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.back {
  color: #fff;
  background-color: #000;
  width: 5em;
  padding: 1em;
  margin-left: 14em;
}
.back:hover {
  cursor: pointer;
}

/* MAIN CONTENT */
.content-section-white {
display: grid;
grid-template-columns: 1fr 3fr 1fr;
padding: 2em 3em;
}
.btn-action {
  color: #000;
  border: 2px solid #000;
  background: rgb(240, 212, 60);
  padding: .6em;
  box-shadow: -4px 4px 0 0 #000;
  font-weight: bold;
  letter-spacing: .05em;
}
.btn-action:hover{
  cursor: pointer;
}
.btn-action:focus {
  outline: none;
}
.sidebar p {
  font-weight: bold;
}
.sidebar {
  padding: 0 2em;
}
.sidebar hr {
  background-color: rgb(145, 145, 145);
}
.author-info {
  /* margin-top: 2em; */
  text-align: center;
}
.author-info .author-img {
  width: 65px;
  margin: 0 auto;
}
.author-info img {
  height: 65px;
  border-radius: 50%;
}
.author-info p {
  margin: 0;
  padding: 0;
}
.name-and-date .date {
  color: rgb(80, 80, 80);
  font-size: 0.8em;
}
.main-content p {
  line-height: 2em;
  letter-spacing: .025em;
}
.main-content p:nth-child(odd) {
  font-weight: bolder;
}
ul {
  padding: 0;
  margin: 0;
}
.tech-spec {
  padding: 1em 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
.tech-spec li p {
  margin: 0;
  padding: 0;
}
.tech-spec li {
  padding: .2em;
}
.tech-spec img {
  width: auto;
  height: 2em;
}
