<div class="work-section">
  <div class="__headline">
      <h1>Work</h1>
  </div>
  <div class="description">
    <p>At Delian Digital, we don’t just talk about great products. We make them with our clients. Read our case studies and find out how we’ve helped them bring great products to market:</p>
  </div>
  <div class="work-boxes">
    <div class="work-container" *ngFor="let project of projects" [routerLink]="['/work/' + project.id]">
      <div class="work-picture">
        <img src={{project.image}} />
      </div>
      <div class="box-work-content">
        <div class="__headline">
          <h5>{{project.name}}</h5>
        </div>
        <ul class="tech-used">
          <li>#{{project.technologiesUsed[0].text}}</li>
          <li>#{{project.technologiesUsed[1].text}}</li>
          <li>#{{project.technologiesUsed[2].text}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
