<div class="work-section">
  <div class="__headline">
      <h1>Work</h1>
  </div>
  <div class="description">
    <p>At Boldare, we don’t just talk about great products. We make them with our clients. Read our case studies and find out how we’ve helped them bring great products to market:</p>
  </div>
  <div class="work-boxes">
    <div class="work-container">
      <div class="work-picture">
        <img src="https://cdn-images-1.medium.com/max/1600/0*hTmEi_DBg32JivxE.png" />
      </div>
      <div class="box-work-content">
        <div class="__headline">
          <h5>How to deal with rapid growth and the aggressive expansion of a startup.</h5>
        </div>
        <ul class="tech-used">
          <li>#Angular</li>
          <li>#Node.js</li>
          <li>MongoDB</li>
        </ul>
      </div>
    </div>
    <div class="work-container"></div>
    <div class="work-container"></div>
    <div class="work-container"></div>
    <div class="work-container"></div>
    <div class="work-container"></div>
  </div>
</div>
