<div class="header">
    <div class="intro">
      <div class="left">
          <p>The digital product design & development<br>
          company and your guide on the digital<br>
          transformation journey.</p>
      </div>
      <div class="right">
          <p>Do you have a product in mind?<br><a [routerLink]="['/contact']">Get in touch</a>.</p>
      </div>
    </div>
  </div>
<div class="slider-container">
  <ul>
    <li>
      <div class="slide-section">
        <div class="slide-description-container">
          <div class="transition-rectangle">

          </div>
          <div class="slide-description">
            <p>Logo</p>
            <h1>Boldare Company</h1>
            <p>At Boldare, we don’t just talk about great products. We make them with our clients. Read our case studies and find out how we’ve helped them bring great products to market:</p>
            <p><a class="case-study" href="#">Case Study -></a></p>
          </div>
        </div>
        <div class="slide-image">
          <img src="http://doanarae.com/doanarae/8470-nice-pictures-for-desktop-background_17523.jpg" />
        </div>
      </div>
    </li>
  </ul>
</div>
<app-work></app-work>
<app-testimonials></app-testimonials>
<app-services></app-services>
<app-about></app-about>
