<div class="header">
    <div class="intro">
      <div class="left">
          <p>The digital product design & development<br>
          company and your guide on the digital<br>
          transformation journey.</p>
      </div>
      <div class="right">
          <p>Do you have a product in mind?<br><a [routerLink]="['/contact']">Get in touch</a>.</p>
      </div>
    </div>
  </div>
<div class="slider-container">
  <ul>
    <li>
      <div class="slide-section">
        <div class="slide-description-container">
          <div class="transition-rectangle">

          </div>
          <div class="slide-description">
            <p>Inspired by building technologies</p>
            <h1>From idea to the product</h1>
            <p>Delian Digital takes a holistic approach to product development. When creating products, we always take into consideration the following factors: business goals, market and user needs, features and unique differentiators. We use proven processes and methods that help us deliver human-centered products that drive value.</p>
            <!-- <p><a class="case-study" href="#">Case Study -></a></p> -->
          </div>
        </div>
        <div class="slide-image">
          <img src="http://doanarae.com/doanarae/8470-nice-pictures-for-desktop-background_17523.jpg" />
        </div>
      </div>
    </li>
  </ul>
</div>
<app-work></app-work>
<app-testimonials></app-testimonials>
<app-services></app-services>
<app-about></app-about>
