<div class="jumbotron text-center">
  <h1>I'm a MEAN App</h1>
  <p class="lead">Mong Express Angular Node Authentication</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a style="margin-left: 10px;" class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Node.js and Express are rock! Espessially if you add some Mongooose</p>
  </div>
  <div class="col-md-4">
      <h3>Angular Frontend</h3>
      <p>Angular to generate all components</p>
    </div>
    <div class="col-md-4">
        <h3>JWT Token</h3>
        <p>Full featured authentication using JSON Web Tokens.</p>
      </div>
</div>
