<div id="blog" class="white-section">
  <div class="left-blog-column">
    <div class="post-container">
      <div class="post-image">
        <!-- <img src="https://images.unsplash.com/photo-1473073899705-e7b1055a7419?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" /> -->
      </div>
      <div class="post-header">
        <!-- <h1>The Power of Not Retweeting</h1> -->
        <!-- <p>I was outraged by a tweet. I didn’t share it.</p> -->
        <div class="author-info">
          <!-- <img src="https://media.licdn.com/dms/image/C5603AQG_GxHAtaBQUg/profile-displayphoto-shrink_200_200/0?e=1553731200&v=beta&t=7H6vzjUQ1YT6lRR0kmMm7eK8YgxAixYO_yeqpWRmRoI" /> -->
          <div class="name-and-date">
            <!-- <p>Andrii Kost</p> -->
            <!-- <p class="date">Jan 30, 2019</p> -->
          </div>
        </div>
      </div>
      <div class="post-content">
        <h1>Coming Soon ...</h1>
      </div>
    </div>
  </div>
  <div class="right-column"></div>
</div>
