#logo {
  max-height: 40px;
}
#logo:hover {
  cursor: pointer;
}
#logo:focus {
  outline: none;
}
.navbar-container {
  display: grid;
  grid-template-columns: 3fr 5fr 1fr;
  padding: 2em 2em 1em 3em;
  color: #fff;
  background-color: rgb(36, 36, 36);
}
.login a {
  color: yellow;
}
.navbar-container a {
  color: #fff;
}
.navbar-container {
  position: absolute;
  top:0;
  right:0;
  left:0;
  z-index: 5;
}
.navbar > a:hover {
  text-decoration: none;
  color: rgb(76, 152, 237);
}
.left-only {
  color: rgb(239, 210, 76);
}
.left-only:hover {
  color: rgb(136, 17, 135);
}
.active {
  color: rgb(239, 210, 76) !important;
}

@media (max-width: 1000px) {
  .navbar-container {
    grid-template-columns: 1fr 2fr;
  }
  #logo {
    max-height: 30px;
  }
  .navbar {
    padding: 0;
  }
}
@media (max-width: 600px) {
  .navbar {
    display: none;
  }
}
