
  <div class="navbar-container">
    <img [routerLink]="['/']" id='logo' src={{logoUrl}} />
    <nav class="navbar">
        <a
        class="navbar-item"
        [routerLink]="['/work']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Work</a>
        <a
        class="navbar-item"
        [routerLink]="['/services']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Services</a>
        <!-- <a
        class="navbar-item"
        [routerLink]="['/login']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Approach</a> -->
        <a
        class="navbar-item"
        [routerLink]="['/about']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">About</a>
        <a
        class="navbar-item"
        [routerLink]="['/contact']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Contact</a>
        <a
        class="navbar-item"
        [routerLink]="['/journey']" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact:true}">Journey</a>
    </nav>
    <app-mobile-navigation></app-mobile-navigation>
  </div>
